@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');

body {
  margin: 0;
  padding: 0;
  position: relative;
  background-color: rgb(234, 234, 234);
}

body::-webkit-scrollbar {
  background-color: rgb(49, 49, 49);
  width: 10px;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(91, 91, 91);
  width: 10px;
}


#header {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  background: rgb(20, 20, 20);
  align-items: center;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}

#logo-box {
  margin-left: 20px;
  display: flex;
}

#logo-box img {
  width: 100px;
  height: 90px;
}

#logo-home {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: white;
  padding-top: 30px;
  text-decoration: none;
}


#search-box {
  margin-inline: 50px;
}

#search-box div {
  background: white;
  border: 2px solid gray;
  border-radius: 24px;
  display: flex;
  width: 340px;
}

#search-box input {
  height: 25px;
  width: 280px;
  background: transparent;
  border: none;
  outline: none;
  border-radius: 16px;
  padding-inline: 10px;
}

.search-icon-style {
  margin-block: auto;
  margin-left: 5px;
}


#right-content-header-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#signin-box {
  padding-top: 5px;
  text-align: center;
  display: flex;
  margin-right: 30px;
}

#signin-link-style {
  color: white;
  font-size: 20px;
  padding-top: 10px;
  transition: 0.1s;
  text-decoration: none;
}

#signin-link-style:hover {
  color: rgb(157, 157, 157);
  transition: 0.1s;
}

#cart-box {
  margin-right: 20px;
  display: flex;
  color: white;
  position: relative;
  transition: 0.1s;
}

.count-items-cart {
  position: absolute;
  top: 3px;
  left: -7px;
  background-color: rgba(106, 5, 5, 0.9);
  padding-inline: 5px;
  padding-block: 2px;
  border-radius: 10px;
}

.count-items-cart p {
  margin: 0px;
  font-size: 14px;
}

#cart-icon-style {
  margin-top: 10px;
  font-size: 35px;
}

#cart-box:hover {
  cursor: pointer;
  transition: 0.1s;
  color: rgb(157, 157, 157);
}

/* ////////////  body        ////////////// */

#main-box {
  margin-top: 94px;
  width: 100%;
  height: 100vh;
  padding: 0px;
  overflow: auto;
}

#main-box::-webkit-scrollbar {
  border: none;
  background-color: transparent;
  width: 0px;
}


/* /////// LEFT MENU /////// */
#left-menu-body {
  position: fixed;
  width: 250px;
  height: 100vh;
  left: 0;
  top: 0;
  padding-top: 100px;
  z-index: 0;
  background-color: rgb(106, 5, 5);
  box-shadow: 5px 0px 10px 2px #0000009d;
}

.link-style-menu.activePage {
  background-color: rgb(101, 54, 10);
}

.link-style-menu {
  display: flex;
  border-bottom: 0.4px solid rgb(20, 20, 20);
}

.link-style-menu {
  background-color: rgb(106, 5, 5);
  display: flex;
}

.link-style-menu:hover {
  background-color: rgb(163, 87, 17);
}

.link-style-menu img {
  height: 50px;
  padding: 10px 0px 10px 20px;
}

.link-style-menu img {
  height: 45px;
  padding: 10px 0px 10px 20px;
}

.item-style-menu {
  color: white;
  font-size: 20px;
  text-decoration: none;
  padding-left: 30px;
  padding-top: 20px;
}

/* //////// MAIN PAGE //////////// */
#main-page {
  padding-left: 250px;
  padding-top: 0px;
  padding-bottom: 10px;
}

#carousel-item {
  width: 100%;
}

#carousel-item img {
  width: 100%;
}


/* //////////////////  ITEM PRODUCT //////////////////// */

.filter-box {
  display: flex;
  justify-content: space-between;
}

.filter-box h2 {
  color: black;
  font-family: "Madimi One", sans-serif;
  font-weight: 600;
  font-size: 30px;
  padding-top: 16px;
}

.all-filter-buttons {}


#soups-page-style,
#beverages-page-style,
#sushi-page-style,
#sets-page-style,
#others-page-style {
  padding-bottom: 10px;
}

.all-items-style {
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.myliner {
  padding-bottom: 10px;
  width: 90%;
  margin-inline: auto;
  border-bottom: 2px solid rgb(20, 20, 20);
}

.style-title-offers {
  margin: 0px;
  color: rgb(20, 20, 20);
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 26px;
  padding: 15px 0px 0px 35px;
}

.product-item-style {
  background: rgb(24, 24, 24);
  position: relative;
  z-index: 1;
  width: 240px;
  height: auto;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 20px;
  text-align: center;
  border: 0.5px solid black;
  box-shadow: 0px 0px 2px 2px #00000069;
  transition: 0.3s all ease;
}


.style-image-item {
  overflow: hidden;
  border-radius: 10px 10px 0px 0px;
}

.product-item-style img {
  width: 250px;
  height: 210px;
  object-fit: cover;
}

.product-item-style h1 {
  color: white;
  margin: 0;
  font-size: 24px;
  padding-inline: 15px;
  padding-block: 5px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  text-align: left;
}

.product-item-style button {
  background-color: rgb(163, 87, 17);
  border: none;
  width: 220px;
  height: 24px;
  margin-bottom: 10px;
  color: white;
  border-radius: 5px;
  transition: 0.1s;
}

.product-item-style button:hover {
  background: rgba(163, 88, 17, 0.62);
  transition: 0.05s;
}

.discount-style-box {
  position: absolute;
  z-index: 1;
  top: 15px;
  left: -7px;
  width: 80px;
  height: 30px;
  border-radius: 10px 0px 0px 10px;
  background: rgb(163, 87, 17);

}

.discount-style-box p {
  color: white;
  font-size: 16px;
  padding-block: 5px;
  margin: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}

.discount-shadow-style-box {
  position: absolute;
  width: 80px;
  height: 15px;
  border-radius: 0px 0px 0px 10px;
  z-index: 0;
  top: 33px;
  left: -7px;
  background: rgb(101, 54, 10);
}

.hot-spicy-box {
  position: absolute;
  display: flex;
  top: 8px;
  right: 10px;
}

.hot-img-style img {
  width: 30px;
  height: 30px;
}

.spicy-img-style img {
  width: 35px;
  height: 35px;
}

.more-info-item-style {
  display: flex;
  justify-content: space-between;
  height: 30px;
  text-align: center;
}

.weight-box-style {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  display: flex;
  padding: 0;
}

.weight-box-style p {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  color: white;
  padding: 0;
  margin: 3px 0px 0px 15px;
}

.weight-box-style p:nth-child(2) {
  margin: 3px 0px 0px 0px;
}

.original-amount-style {
  display: flex;
}

.original-amount-style p {
  text-decoration-line: line-through;
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 5px 5px 0px 0px;
}

.more-info-item-style h2 {
  color: white;
  margin: 0px 12px 0px 0px;
  padding: 0px;
  font-size: 20px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  text-align: right;
}

#price-discount {
  color: rgb(255, 0, 0);
  margin-right: 5px;
}

#footer {
  position: absolute;
  bottom: -1;
  width: 100%;
  height: 130px;
  background: rgb(20, 20, 20);
  display: flex;
}

#footer section {
  flex-basis: 25%;
}


.main-part-footer h1,
h2 {
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  margin: 0;
  padding-left: 40px;
}

.main-part-footer h1 {
  font-size: 24px;
  padding-top: 40px;
}

.main-part-footer h2 {
  font-size: 16px;
}

.link-part-footer ul {
  padding-top: 20px;
  padding-left: 80px;
}

.link-part-footer ul li {
  list-style: none;
  color: white;
}

.link-part-footer ul li a {
  text-decoration: none;
  color: white
}


.social-media-footer ul {
  display: flex;
  justify-content: right;
  list-style: none;
  padding: 15px 50px 0px 0px;
}

.social-media-footer ul li {
  margin: 10px;
}

.social-media-footer ul li a img {
  height: 35px;
}

#cart-body {
  position: absolute;
  top: 100px;
  right: 0px;
  border-radius: 2px 0px 0px 0px;
  background-color: rgb(106, 5, 5);
  width: 0px;
  height: 88vh;
  transition: all 0.4s ease;
}

#cart-body.activeCart {
  width: 400px;
  box-shadow: -4px 4px 5px 1px #0000007b;
}

.h1-style {
  color: white;
  margin: 0;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  padding-top: 10px;
  padding-left: 15px;
}

.all-items-cart {
  width: 350px;
  height: 68vh;
  margin-inline: auto;
  margin-top: 10px;
  overflow: auto;
  min-width: 0px;
  max-width: 350px;
  transition: all 0.4s ease;

}


.all-items-cart::-webkit-scrollbar {
  background-color: rgb(49, 49, 49);
  width: 10px;
}

.all-items-cart::-webkit-scrollbar-thumb {
  background-color: rgb(91, 91, 91);
  width: 10px;
}

.cart-item-style {
  position: relative;
  display: flex;
  margin: 2px;
  height: 100px;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  min-width: 0px;
}

.img-item-cart {
  width: 90px;
  height: 90px;
  overflow: hidden;
  padding: 7px 0px 0px 5px;
}

.img-item-cart img {
  width: 85px;
  height: 85px;
}

.about-item-cart {
  flex-basis: 70%;
  height: 85dpx;
}


.title-item-cart h1 {
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-size: 20px;
  margin: 0px;
  padding-top: 12px;
  padding-inline: 10px;
}

.counter-item-cart {
  height: 50px;
  display: flex;
}

.buttons-item-cart {
  flex-basis: 50%;
  display: flex;
  padding-top: 4px;
  padding-left: 10px;
  height: 30px;
}

.buttons-item-cart button {
  border: none;
  height: 20px;
  padding-top: 0px;
  background-color: transparent;
  color: white;
  font-size: 24px;
}

.buttons-item-cart button:hover {
  opacity: 0.4;
}

.buttons-item-cart p {
  margin: 0px;
  color: white;
  font-size: 20px;
}

.price-item-cart {
  flex-basis: 50%;
}

.price-item-cart p {
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  text-align: right;
  padding-top: 4px;
  padding-right: 15px;
  margin: 0px;
}

.weight-box-cart-style {
  display: flex;
  color: white;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}

.weight-box-cart-style p {
  margin: 0px;
  padding-left: 10px;
}

.weight-box-cart-style p:nth-child(2) {
  padding-left: 0px;
}

.remove-from-cart {
  position: absolute;
  color: white;
  right: 10px;
  top: 5px;
}

#remove-btn {
  width: 20px;
}

#remove-btn:hover {
  opacity: 0.7;
}

.confirm-box-cart {
  width: 300px;
  height: 70px;
  margin-inline: auto;
  margin-block: 10px;
}

#confirm-box-srtyle {
  border: 1px solid rgb(20, 20, 20);
  background: rgb(20, 20, 20);
  border-radius: 10px;
  width: 300px;
  height: 50px;
  transition: all 0.3s ease-out;
}

#confirm-box-srtyle:hover {
  border: 1px solid white;
}

#confirm-box-srtyle:active {
  background-color: rgb(48, 48, 48);
  transition: 0.3s;
}

#confirm-box-srtyle h1 {
  color: white;
  margin: 0px;
  font-size: 18px;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
}


/* ////////// Filter Box /////////// */

.all-filter-buttons {
  width: 150px;
  padding: 20px 40px 0px 0px;
  display: flex;
  justify-content: end;
  position: relative;
}

.all-filter-buttons h2 {
  margin: 0px;
  padding: 3px 15px 0px 0px;
  font-size: 20px;
}

#filterIcon {
  font-size: 35px;
}

.activeFilter {
  display: none;

}

.filter-body {
  position: absolute;
  top: 50px;
  right: 50px;
  background-color: rgb(20, 20, 20);
  border-radius: 10px;
  padding: 10px;
  z-index: 8;
  width: 250px;
  height: 300px;
  box-shadow: 0px 0px 7px 5px #64646425;
}

.filter-body div {
  margin: 10px;
}

.filter-body h2 {
  color: white;
  padding: 10px 0px 0px 10px;
}


.price-filter-box section {
  display: flex;
}

#range-max-price {
  margin: 0px 0px 0px 5px;
}

#helper-range {
  margin-block: 5px;
  margin-inline: 15px;
  width: 50px;
}


.price-filter-box section p {
  color: white;
  font-size: 20px;
  padding: 10px 0px 0px 5px;
  margin: 0px;
}

.checkbox-box {
  padding-top: 10px;
}

.checkbox-box span {
  color: white;
  padding-left: 15px;
  font-size: 18px;

}

.btn-remove-filter {
  text-align: right;
}

.hr-filter {
  width: 90%;
}

.btn-remove-filter button {
  border: 0.5px solid black;
  background-color: white;
  height: 25px;
  font-size: 14px;
  border-radius: 10px;
  padding-inline: 10px;
  margin-top: 10px;
}

.btn-remove-filter button:nth-child(1) {
  margin-right: 15px;
}

.btn-remove-filter button:hover {
  opacity: 0.8;
}

.btn-remove-filter button:active {
  box-shadow: 0px 0px 6px 2px #ffffff69;
}

#make-order {
  position: absolute;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.613);
  top: -100px;
  height: 127vh;
  width: 100%;
}

#close-make-order {
  position: fixed;
  color: white;
  font-size: 30px;
  right: 30px;
  top: 20px;
  background-color: black;
  border-radius: 10px;
}

#close-make-order:hover {
  opacity: 0.8;
}